{
	"__merge" : [ 
	[ "overwrite", "initialBeamGunRadius" ],
	[ "overwrite", "reviveCost" ] 
	],
		
  "initialBeamGunRadius" : 100,
  
    "defaultBlueprints" : {
	"level35" : [
		  { "item" : "bluestim+" },
		  { "item" : "greenstim+" },
		  { "item" : "redstim+" },
		  { "item" : "yellowstim+" },
		  { "item" : "diamondarmorchest" },
		  { "item" : "diamondarmorhead" },
		  { "item" : "diamondarmorpants" }
		]
	},
	
	"reviveCost" : {
		"absolute" : 1,
		"percentile" : 75.0
  }

}
