{
  "runProbability" : 0.045,

  "clientBufferZone" : [120, 60],

  "clusterSpawnCheckCount" : 8,
  "clusterDespawnCheckCount" : 8,
  "clusterTargetRect" : [300.0, 200.0],
  "clusterCloseRect" : [30, 10],
  "clusterSize" : [100, 25],
  "clusterCount" : [2, 16],
  "targetClustersPerPlayer" : 6,
  "individualSpawnChances" : 40,

  "surfaceScan" : [5, 5],
  "spawnAdjustLimit" : 5,

  "surfaceOnlyProbability" : 0.997,
  "surfaceTries" : 30,

  "numAggressiveFamilies" : 16,
  "numPassiveFamilies" : 2,
  "minimumDayLevel" : 1,
  "minimumLiquidLevel" : 1.0,
  "dungeonQueryRadius" : 3
}
