{
 "__merge" : [
		[ "overwrite", "worldInactiveShutdown"],
		[ "overwrite", "findStarterWorldTries"],
		[ "overwrite", "findStarterWorldRange"],
		[ "overwrite", "starterWorldLevel"],
		[ "overwrite", "starterWorldMoonProbability"]
 ],
 
  "worldInactiveShutdown" : 15000,

  "findStarterWorldTries" : 5,
  "findStarterWorldRange" : 2048,
  "starterWorldSector" : "alpha",
  "starterWorldMoonProbability" : 0.7,
  "starterWorldLevel" : [0,1]
}
