{
	"__merge" : [
		[ "overwrite", "spawnDungeon"],
		[ "overwrite", "spawnMonsters"],
		[ "overwrite", "spawnNoDungeonReserve"],
		[ "overwrite", "spawnRegion"],
		[ "overwrite", "spawnRegionFlatSurface"],
		[ "overwrite", "spawnFlatSurfaceRadius"],
		[ "overwrite", "spawnDungeonNearSpawn"],
		[ "overwrite", "spawnDungeonNearSpawnMaxRadius"],
		[ "overwrite", "spawnDungeonSpawnMinRadius"],
		[ "overwrite", "spawnMicroDungeonExclusion"],
		[ "overwrite", "dayLengthRange"],
		[ "overwrite", "gravityRange"]
	],
	
  "dayLengthRange" : [300, 3000],
  "gravityRange" : [0.01, 150],

  "spawnDungeon" : true,
  "spawnMonsters" : true,
  "spawnNoDungeonReserve" : [32, 8],
  "spawnRegion" : true,
  "spawnRegionFlatSurface" : true,
  "spawnFlatSurfaceRadius" : 4,
  "spawnDungeonNearSpawn" : true,
  "spawnDungeonNearSpawnMaxRadius" : 1024,
  "spawnDungeonSpawnMinRadius" : 20000,
  "spawnMicroDungeonExclusion" : true

}
