{
"__merge" : [],

  "randomEncounterUnderground" : {
    "type" : "random",

    "blockProbability" : 1.0
  },

  "minibossoverground" : {
    "type" : "random",

    "blockProbability" : 1.0
  },

  "undergroundChests" : {
    "type" : "random",

    "blockProbability" : 0.05
  },

  "undergroundtechChests" : {
    "type" : "random",

    "blockProbability" : 0.001
  },

  "layer1Chests" : {
    "type" : "random",

    "blockProbability" : 0.07
  },

  "layer2Chests" : {
    "type" : "random",

    "blockProbability" : 0.08
  },

  "layer3Chests" : {
    "type" : "random",

    "blockProbability" : 0.09
  },

  "minibiomeChests" : {
    "type" : "random",

    "blockProbability" : 0.07
  },

  "overgroundChests" : {
    "type" : "random",

    "blockProbability" : 0.075
  },

  "hazardUndergroundCeilingTop" : {
    "type" : "random",

    "blockProbability" : 0.4
  },

  "hazardUndergroundCeilingMid" : {
    "type" : "random",

    "blockProbability" : 0.5
  },

  "hazardUndergroundCeilingLower" : {
    "type" : "random",

    "blockProbability" : 0.6
  },

  "hazardUndergroundCeilingCore" : {
    "type" : "random",

    "blockProbability" : 1.0
  },

  "hazardUndergroundTop" : {
    "type" : "random",

    "blockProbability" : 0.2
  },

  "hazardUndergroundMid" : {
    "type" : "random",

    "blockProbability" : 0.3
  },

  "hazardUndergroundLower" : {
    "type" : "random",

    "blockProbability" : 0.6
  },

  "hazardUndergroundCore" : {
    "type" : "random",

    "blockProbability" : 0.9
  },

  "superCommon" : {
    "type" : "random",

    "blockProbability" : 0.0001
  },

  "rareItems" : {
    "type" : "random",

    "blockProbability" : 0.00001
  },
  
  "veryRareItem" : {
    "type" : "random",

    "blockProbability" : 0.000001
  }
}
