{
  "__merge" : [
  [ "overwrite", "planetThreatAdjustment" ]
  ],
  "planetThreatAdjustment" : {
    "dayTimeSurfaceAdjustmentRange" : [0, 0],
    "nightTimeSurfaceAdjustmentRange" : [0.5, 1.5],
    "dayTimeUndergroundAdjustmentRange" : [0, 0],
    "nightTimeUndergroundAdjustmentRange" : [0, 0],
    "undergroundDifficultyIncreaseRange" : [1.75, 10.75]
  }
}
